.root {
    -fx-font-size: 1.5em; /* Use relative font size */
    -fx-font-family: "Helvetica";
    -fx-background-color: #EDE4D1;
}

.button {
    -fx-color: #A5762C;
}

.form-container {
    -fx-background-color: #EDE4D1;
    -fx-padding: 5%; /* Use percentage-based padding */
    -fx-spacing: 2%; /* Use percentage-based spacing */
    -fx-alignment: center;
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}

#errorMessage {
    -fx-text-fill: red;
}

.label-large {
    -fx-font-size: 1.5em;
    -fx-text-fill: #222;
}
.label-small {
    -fx-font-size: 1em;
}



.form-container {
    -fx-padding: 20; /* Set padding in pixels */
    -fx-spacing: 20; /* Set spacing between children */
    -fx-alignment: center;
}

.root {
    -fx-font-family: "Palatino Linotype";
}

.header-label {
    -fx-font-size: 2em;
    -fx-text-fill: #333;
    -fx-font-weight: bold;
}

.form-label {
    -fx-font-size: 1.1em;
    -fx-text-fill: white;
}

.nav-label {
    -fx-font-size: 1.2em;
    -fx-text-fill: #222;
}

.form-button {
    -fx-background-color: white;
    -fx-font-size: 1em;
}

.settings-grid {
    -fx-background-color: #A37736;
    -fx-padding: 5%; /* Use percentage-based padding */
    -fx-border-radius: 10;
    -fx-background-radius: 10;
}
